:root {
  --main-card-background: url("../images/justice_background_en.jpg");
  --footer-container-background: url("../images/stock_image_2.jpg");

  --accent-color: #a69d84;
  --accent-color-overlay: #9F9780;
  --primary-color: #023857;
  --secondary-color: #1f3a56;
  --tertiary-color: #637D8C;
  --fourth-color: #637D8C;
  --background-color: #e1e1e0;
}

/* Horizontal and vertical lines */
webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

   



.services-heading  {
  display: flex; 
  
  align-items: center; 
  justify-content: center; 
  gap: 1rem; 
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.services-heading h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0 auto;
}

 .services-heading:before,
 .services-heading:after {
  width: 50px;
  height: 1px;
  content: "";
  display: flex;
  background-color: var(--accent-color);

}
.services-sub-heading {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 3.5rem;
}

.target-text {
  color: var(--accent-color)
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, serif; /*TODO: change font family */ 
}

body {
  font-family: serif, sans-serif;
  /* background-color: #f4f4f4; */
  /* color: #333; */
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%; /* Background spans full width */
  margin: 0; /* Center the entire container */
  padding: 0; /* Remove extra spacing */
  /* background-color: lightblue; Example background */
}

.inner-content {
  max-width: 100%; /* Limit content width */
  margin: 0 auto; /* Center the content */
}

.content-wrapper {
  max-width: 1600px; /* Limit content width */
  width: 100%; /* Full width */
  margin: 0 auto; /* Center the content */
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #333;
}

.top-header-container {
  background-color: #003859;
  display: flex;
  justify-content: flex-end; /* Keeps items at the end */
  align-items: center; /* Aligns items vertically */
  gap: 50px;
  padding: 4px 20px;
  color: var(--accent-color);
}

.top-header-container .time-outline {
  color: var(--accent-color);
}

.top-header-container h4 {
  font-size: 14px;
  color: var(--accent-color);
  margin: 0; /* Ensures no extra spacing */
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

/* Navigation Bar */
.nav-bar-container {
  position: absolute;
  /* background-color: #f9f9f9; */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between; /* Space between left-nav and nav-list */
  align-items: center; /* Center vertically */
  padding: 20px;
  z-index: 10;
  width: 100%; /* Full width */
  border-bottom: 0.1px solid var(--accent-color);
  backdrop-filter: blur(4px);
}

/* Left Nav */
.left-nav {
  display: flex;
  align-items: center;
}

/* Nav List */
.nav-list {
  display: flex;
  align-items: center; /* Align items vertically */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* Add space between nav items */
}

/* Nav List Links */
.nav-list a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 100;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.nav-list a:hover {
  color: var(--accent-color);
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);

}

/* Logo Styling */
.nav-bar-container img {
  width: 250px;
  height: 30px;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Hidden by default, visible in mobile */
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 30px;
}

.hamburger-menu .bar {
  width: 25px;
  height: 4px;
  background-color: black;
  border-radius: 5px;
}

.slider-menu {
  display: flex;
  
}

.slider-menu button {
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Main - Section */

#main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.image-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: var(--main-card-background);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}


.main-button {
  padding: 6px 20px 6px 20px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
  transition: background-color 0.3s;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-button {

  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;

  transition: background-color 0.3s;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-button {
  margin-left: 3.5rem;
  margin-right: 1rem;
}
.nav-button:hover{
  background-color: #507786;
}

#main-section button:hover {
  background-color: #507786;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 1rem;
  border-radius: 5px;
  max-width: 100%;
  box-sizing: border-box;
  
}

.image-with-text:hover .text-overlay {
  display: block;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .services-highlight-container-flex .service {
    flex: 1 1 calc(50% - 1rem); /* Each item takes up 50% of the row */
    max-width: calc(50% - 1rem);
  }
  .services-highlight-container {
    width: 90%;
    padding: 1rem;
  }

  .services-highlight-container-flex {
    flex-direction: column; /* Stack services vertically */
    gap: 1rem;
  }
  .nav-list {
    display: none; /* Hide the nav list on small screens */
  }

  .nav-list.active {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    position: absolute;
    top: 60px; /* Below the nav bar */
    left: 0;
    width: 100%; /* Full screen width */
    background-color: #f9f9f9;
    padding: 10px 0;
    z-index: 1000;
  }

  .nav-list li {
    text-align: center;
    padding: 10px 0;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 480px) {
  .services-highlight-container-flex .services-hightlight .service {
    flex: 1 1 100%; /* Each item takes the full width */
    max-width: 100%;
  }
}


/* Section: Work complete TODO: CHANGE title */
#work-total-container {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 85px 0 85px 0; 
   overflow: hidden;
}

.content-wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px; /* Add padding for better spacing */
}

.flex-container {
  display: flex;
  gap: 50px; /* Space between text and image */
  align-items: center; /* Vertically center the content */
}

.left-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px; /* Thickness of the bar */
  height: 100%; /* Full height of the container */
  background-color: var(--accent-color); /* Color of the bar */
  border-radius: 4px; /* Optional: Rounded corners for the bar */
}

.left-side {
  flex: 1; /* Takes 50% of the space */
  color: #1d5474;
  position: relative;
  padding-left: 40px
}

.left-side h3 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}

.left-side p {
  font-size: 16px;
  margin-bottom: 35px;
  line-height: 1.6;
}

.right-side {
  flex: 1; /* Takes 50% of the space */
  display: flex;
  justify-content: center; /* Center the image horizontally */
}

.right-side img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.stats {
  display: flex;
  justify-content: space-between; /* Distribute space evenly between items */
  align-items: center; /* Center items vertically */
  border-top: 1px solid var(--accent-color);
  padding: 20px 0;
  margin-top: 4rem;
  width: 100%; /* Ensure stats take up full width */
}

.stat-item {
  flex: 1; /* Each item takes equal space */
  text-align: center; /* Center text horizontally */
  position: relative;
  padding: 2rem 10px; /* Add padding for spacing */
}


.stat-item strong {
  display: block;
  font-size: 90px;
  color: var(--accent-color);
  font-weight: 100;
  margin: 0;
  line-height: 1;
}

.stat-item span {
  margin: 1rem 0;
  display: block;
  font-size: 14px;
  color: #555;
  font-weight: 200;

}

.btn-wc {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #023857;
  padding: 10px 20px;
  border: 2px solid #06486D;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
}

.btn-wc:hover {
  background-color: #023857;
  color: #fff;
}

/* Section: More services */
#more-services-container {
  padding: 85px 0 85px 0;  text-align: center;
  background-color: #E4E8EB;
  /* height: 100%;
  max-height: 1950px; */
}


.more-services-flex {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping to new rows */
  gap: 1em; /* Space between items */
  justify-content: space-between; /* Evenly distribute items */
}

.service {
  flex: 1 1 calc(25% - 1rem); /* Each item takes up 25% of the row */
  max-width: calc(25% - 1.5rem); /* Prevents items from exceeding 25% */
  width: 150px; /* Fixed width for each item */
  height: 300px; /* Fixed height for each item */
  padding: 2rem;
  border-radius: 10px;
  /* background-color: #fff; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 1024px) {
  .service {
    flex: 1 1 100%; /* Each item takes up the full width */
    max-width: 100%; /* Prevents overflow */
  }
}

.more-services-flex .service:hover {
  background-color: var(--accent-color-overlay);
  color: white;
}

.more-services-flex .service:hover .service-icon,
.more-services-flex .service:hover .service-arrow {
  color: white; /* Applies to icons when the parent is hovered */
}



.more-services-flex .service-icon {
  font-size: 2rem;
  color: #C89D65;

  width: 54px;
  height: 54px;
}

.service h4 {
  font-size: 1.5rem;

}
.service p {
  font-size: 0.9rem;
}

.service-arrow {
  font-size: 1.5rem;
  color: #C89D65;

  transition: transform 0.3s;
  cursor: pointer;
}

.service-arrow:hover {
  transform: translateX(5px);
}

@media (max-width: 1024px) {
  .service {
    flex: 1 1 calc(33.33% - 1.5rem); /* 3 items per row */
  }
}

@media (max-width: 768px) {
  .service {
    flex: 1 1 calc(50% - 1.5rem); /* 2 items per row */
  }
}

@media (max-width: 480px) {
  .service {
    flex: 1 1 100%; /* 1 item per row */
  }
}






/* FAQ Container */
#faq-container {
  padding: 85px 0 85px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color); 
  
}

#faq-container .line {
  margin-top: 2.5rem;
}

#faq-container h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#faq-container ul {
  margin: 3rem auto;
  width: 1600px;
}

#faq-container ul li {
  list-style: none;
  margin-bottom: 1.2rem;
}

#faq-container .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  position: relative; /* Needed for pseudo-element positioning */
  color: var(--primary-color);
}

#faq-container .icon {
  margin-left: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  transition: transform 0.25s ease-in-out;
}

#faq-container .answer {
  display: none;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: max-height 0.3s ease-in-out;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}

#faq-container .question.open {
  max-height: 1200px;
  display: flex;
  border-radius: 10px 10px 0 0;
  border-bottom: none; /* Remove the default bottom border */
  margin: 0 auto;
  border-width: 1px;
}

/* Add a pseudo-element for the bottom border with gaps */
#faq-container .question.open::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Align with the bottom edge */
  left: 10px; /* Gap on the left */
  right: 10px; /* Gap on the right */
  height: 1px; /* Border thickness */
  background-color: #ccc; /* Border color */
}

#faq-container .question.open + .answer {
  max-height: 1200px;
  display: flex;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;
  color: var(--primary-color);
}

#faq-container .question.open > .icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
/* Section: Blog */
.blog-section {
  padding: 3rem 1.5rem;

  flex-direction: column;
}

.blog-title{
  font-size: 2.5rem;
  color: #1f3a56;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

/* Blog container styles */
.blog-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex-grow: 1; /* Allows it to grow and take available space */
  height: auto; /* Match height with arrows */
}

/* Wrap navigation arrows and scrollbar together */
.blog-navigation-container, .team-navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distributes space between arrows and scrollbar */
 
}
.blog-container::-webkit-scrollbar,
.team-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.blog-container::-webkit-scrollbar-thumb,
.team-wrapper::-webkit-scrollbar-thumb {
  background-color: #003850;
  border-radius: 10px;
}

.blog-container::-webkit-scrollbar-track,
.team-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.blog-navigation-wrapper {
  display: flex;
  align-items: center; 
  gap: 1rem; 
  margin-top: 1rem;
}

.blog-nav-container {
  display: flex;
  justify-content: flex-start;
  padding-right: 0.2rem;
  gap: 1rem;
; 
}

.blog-card {
  flex: 0 0 calc(33.333% - 1rem);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  text-align: left;
  overflow: hidden;
  margin-bottom: 1rem;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-text {
  padding: 1rem;
}

.blog-text h2 {
  font-size: 1.5rem;
  color: #1f3a56;
  text-align: start;
}

.blog-text p {
  font-size: 0.9rem;
  color: #555;
}

/* Navigation arrows */
.navigation {
  margin-top: 1rem;
}
.navigation ion-icon {
  font-size: 2rem;
  color: #003850;
  cursor: pointer;
}

.navigation ion-icon:hover {
  color: var(--accent-color);
  transition: color 0.3s;
  transform: scale(1.1);
}

/* Contact Us Section */
#section-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 3rem 1.5rem;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-contact-subheading {
  text-align: left; 
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}
.contact-form {
  width: 50%;
}
.section-contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
input:focus,
textarea:focus {
  border-color: #005377;
  box-shadow: 0px 0px 8px rgba(0, 83, 119, 0.2);
  outline: none;
}
textarea {
  min-height: 120px;
  resize: none;
}
button[type="submit"] {
  width: 50%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--accent-color);
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
 
  display: flex;
  justify-content: flex-start;
}
button[type="submit"]:hover {
  background: transparent;
  transform: translateY(-2px);
  border-radius: 5px solid var(--accent-color);

}

/* Responsive */
@media (max-width: 768px) {
  .content-wrapper {
    padding: 1.5rem;
  }
}

/* Footer Container */
.footer-container {
  display: flex;
  flex-direction: column;
  background-image: var(--footer-container-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 10px 1px 10px;  
  width: 100%;
  opacity: 0.8;


}
.footer-content-container {
  padding: 50px 10px 1px 10px;

  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 25px;
  flex-wrap: wrap;
  
}
.footer-container p {
  font-size: 14px;
  font-weight: 400;
}
.left-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.left-footer img {
  width: 200px;
  height: 75px;
  justify-content: center;
  align-content: center;
}
.footer-content-container p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0;

}
.left-footer .social-media-title {
  color: white;
  font-size: 1.3rem;
  margin-top: 12px;

}
.footer-content-container h4 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 0 40px 0;

}
.social-media {
  color: white;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.social-media ion-icon {
  font-size: 1rem;
  color: white ;
  background-color: #c89d65;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
.center-footer ion-icon {
  font-size: 1rem;
  color: white ;
  background-color: #c89d65;
  border-radius: 50%;
  padding: 5px;
}
.right-footer {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: stretch;
}
.right-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.right-footer li, a:active, a:visited, a:link {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
.right-footer-second {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  color: white;
  width: 100%;
  max-width: 25rem
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
}
.newsletter input {
  padding: 10px 10px 10px 20px;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}
.newsletter button {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 40%;
}
.newsletter button:hover {
  background-color: var(--accent-color-overlay);
}

/* Footer Developer */
.footer-developer {
  display: flex;
  gap: 5px;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  /* background-color: #013857; */
  color: white;
  padding: 15px;
  margin: 0 auto;
  align-content: center;
  border-top: 1px solid var(--accent-color);
  width: 100%;
  text-align: center;

}

.footer-developer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-developer p {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset padding */
  line-height: 1.5; /* Adjust for readability */
}

.footer-developer a {
  color: #f0a500;
  text-decoration: none;
  font-weight: bold;
}

.footer-developer a:hover {
  text-decoration: underline;
}

.footer-developer ion-icon {
  font-size: 2rem;
  color: #f0a500;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

/* TEST AREA */
.team-section {
  padding: 3rem 1.5rem;
  background-color: #f8f9fa;
  text-align: center;
}


.team-nav-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.navigation {
  display: flex;
  align-content: end;
  gap: 10px;
}

.navigation button {
  background-color: #003850;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.navigation button:hover {
  background-color: #c89d65;
}

.carousel-container {
  position: relative;
  overflow: hidden; /* Hides overflow */
}

.team-wrapper {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
  flex-grow: 1; /* Allows it to grow and take available space */
  height: auto; /* Match height with arrows */
}



.team-member-card {
  flex: 0 0 calc(25% - 1.5rem);
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
  cursor: pointer;
  
}

.team-member-card:hover {
  transform: translateY(-5px);
}

.team-member-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center 10%;
}

.team-text {
  padding: 1rem;
}

.team-text h3 {
  font-size: 1.4rem;
  color: #1f3a56;
}

.team-text p {
  font-size: 1rem;
  color: #555;
}
